<!DOCTYPE html>
<html>

<head>
    <title>JSON Dummy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/faker/build/build/faker.min.js"></script>
    <script src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script src="scripts/module.js"></script>
    <script src="scripts/controller.js"></script>
</head>

<body ng-app="jsonDummy" ng-controller="Controller as ctrl">
    <md-button class="md-raised">create class</md-button>
    <form name="classForm" novalidate>
        <md-input-container>
            <label>Property name</label>
            <input name="propertyName" ng-model="ctrl.property.name" required>
            <div ng-messages="classForm.propertyName.$error" >
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-select ng-model="ctrl.property.type" aria-label="Type">
            <md-option ng-value="type" ng-repeat="type in ctrl.dataTypes">{{ type.name }}</md-option>
        </md-select>
        <md-button type="submit" class="md-raised" ng-click="ctrl.generate()" ng-disabled="classForm.$touched && classForm.$invalid">generate JSON</md-button>
    </form>
    <pre>{{ctrl.availableMethods()}}</pre>
</body>

</html>
